---
---

@import url('https://fonts.googleapis.com/css2?family=Literata:wght@400;700&display=swap');

* {
    font-family: 'Literata', serif;
}

main {
    width: 75ch;
    text-align: justify;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    counter-reset: section;
}

h2 {
    counter-increment: section;
    counter-reset: para;
}

p:before {
    counter-increment: para;
    content: "ยง" counter(section) "." counter(para);
    margin-right: 7px;
}

p:has(> a):before {
    display: none;
}
