---
---

@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #fffff8;
    color: #111;
}

* {
    font-family: 'Literata', serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
}

main {
    margin: 10px auto;
    max-width: 70ch;
    text-align: justify;
}

h1 {
    counter-reset: section;
    margin: 30px 0;
    font-size: 2.1em;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width:477px) {
    h1 {
        font-size: 3em;
    }
}

@media (min-width:637px) {
    h1 {
        font-size: 4em;
    }
}

h2 {
    counter-increment: section;
    counter-reset: para;
}

a {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    color: #aaa;
    text-decoration: underline;
}

div > p:before {
    counter-increment: para;
    content: "ยง" counter(section) "." counter(para);
    margin-right: 7px;
    color: #aaa;
}

img {
    width: 70ch;
}

table {
    border-spacing: 15px 15px;
}
