<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | absolute_url }}">
  </head>
  <body>
      <h1 style="padding-bottom: 100px;"><a style="color: black; text-decoration: none;" href="{{ site.url }}">{{ site.title }}</a></h1>
      <main class="page-content" aria-label="Content">
          <div class="wrapper">
              {{ content }}
          </div>
      </main>
	</body>
</html>
